$blue: #147bbc;
$bluer: #147bbd;
$light-blue: #71bdef;
$dark-blue: #243144;
$timer-bg: #39363f;
$red: #f63f4c;
$black: #252525;
$white: #fff;
$real-grey: #56545b;
$grey: #ebedec;
$light-grey: #acacac;
$not-really-grey: #eaecec;
$off-white: #f4f4f6;
