$size-1: 36px;
$size-2: 28px;
$size-3: 24px;
$size-4: 22px;
$size-5: 19px;
$timer-height: 160px;
$content-margin: calc(calc(100vw - 1366px) / 2);
$button-width: 340px;
$button-height: 50px;
$button-radius: 10px;

$mobile-timer-height: 160px;
$mobile-content-margin: calc(calc(100vw - 750px) / 2);
$mobile-button-width: 255px;
$mobile-button-height: 40px;
$mobile-button-radius: 10px;

$spacing: 100px;
$mobile-spacing: $spacing / 2;


