$size-1: 36px;
$size-2: 30px;
$size-3: 24px;
$size-4: 22px;
$size-5: 19px;
$timer-height: 160px;
$content-margin: calc(calc(100vw - 1366px) / 2);
$button-width: 340px;
$button-height: 50px;
$button-radius: 10px;

$mobile__timer-height: 160px;
$mobile__content-margin: calc(calc(100vw - 750px) / 2);
$mobile__button-width: 255px;
$mobile__button-height: 40px;
$mobile__button-radius: 10px;



