@import "vendor/normalize/normalize";
@import "variables";
@import "vendor/bulma/bulma";
@import "colors";
@import "vendor/bulma/sass/base/helpers";

@import "sections/all";

html, body {
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}

section {
    @include tablet {
        min-height: 100vh;
    }

    padding: 0 $content-margin;

    @include mobile {
        padding: 0 $mobile-content-margin;
    }

    .columns {
        &.is-gapless {
            margin-bottom: 0 !important;
        }

        &.has-timer  > .column:first-child {
            @include tablet {
                height: calc(100vh - #{$timer-height});
            }
        }

        &.has-timer > .column.is-timer {
            height: $timer-height;
            background-color: $timer-bg;
            position: relative;

            @include mobile {
                height: $mobile-timer-height;
            }
        }

        &.has-timer > .column.is-timer .columns {
            height: 100%;
        }

        &.has-timer > .column.is-timer::before {
            width: $content-margin;
            content: "";
            position: absolute;
            top: 0;
            background-color: $timer-bg;
            height: 100%;
            left: calc(-1 * #{$content-margin});

            @include mobile {
                width: $mobile-content-margin;
                left: calc(-1 * #{$mobile-content-margin});
            }
        }

        &.has-timer > .column.is-timer::after {
            width: $content-margin;
            content: "";
            position: absolute;
            top: 0;
            background-color: $timer-bg;
            height: 100%;
            right: calc(-1 * #{$content-margin});

            @include mobile {
                width: $mobile-content-margin;
                right: calc(-1 * #{$mobile-content-margin});
            }
        }
    }
}

.dark-background {
    * {
        color: $white;
    }
}

.light-background {
    * {
        color: $black;
    }
}

.red-background {
    @extend .dark-background;

    background-color: $red;
}

.blue-background {
    @extend .dark-background;

    background-color: $blue;
}

.title {
    font-family: "Lato";
}

.btn {
    @extend .red-background;

    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}

