@import "vendor/normalize/normalize";
@import "variables";
@import "vendor/bulma/bulma";
@import "colors";
@import "vendor/bulma/sass/base/helpers";
@import "mixins";
@import "sections/all";

html, body {
    font-family: Lato, Roboto, sans-serif;
    overflow-x: hidden;
}

.padded {
    @include section-padding($spacing);
}

.inner-pad {
    >.columns + .columns {
        @include tablet {
            margin-top: $spacing;
        }
    }
}

.bold-strongs {
    h1 strong, h2 strong, h3 strong, p strong {
        font-weight: 900;
    }
}

.brown-background {
    background-color: $timer-bg;
    color: $white;
    font-family: "Cormorant Garamond";
    display: flex;
    font-size: 24px;

    @include tablet {
        padding: 55px 51px;
    }

    @include mobile {
        padding: 30px 0;
        text-align: center;
    }
}

.copyright {
    font-size: 14pt;

    a {
        color: $white !important;
        display: inline;
    }
}

section {
    @include tablet {
        // min-height: 100vh;
    }

    padding-left: $content-margin;
    padding-right: $content-margin;
    position: relative;

    @include mobile {
        padding-left: $mobile-content-margin;
        padding-right: $mobile-content-margin;
    }

    .columns {
        &.is-gapless {
            margin-bottom: 0 !important;
        }
    }

    a.btn {
        display: block;
        margin: 0 auto;
        color: $white;
        margin-bottom: 30px;
        height: $button-height;
        width: $button-width;
        border-radius: $button-radius;

        @include mobile {
            margin-bottom: 30px;
            height: $mobile-button-height;
            width: $mobile-button-width;
            border-radius: $mobile-button-radius;
        }
    }

    @include tablet {
        a.btn {
            line-height: $button-height;
        }
    }

    @include mobile {
        a.btn {
            line-height: $mobile-button-height;
        }
    }

    ul {
        list-style-image: url("assets/img/common/tick-desktop.png");
        margin-left: 32px;

        @include image-2x {
            list-style-image: url("assets/img/common/tick-desktop@2x.png");
        }
    }

    // .has-timer  > .column:first-child {
    //     @include tablet {
    //         height: calc(100vh - #{$timer-height});
    //     }
    // }

    .has-timer > .column.is-timer {
        height: $timer-height;
        background-color: $timer-bg;
        position: relative;

        @include mobile {
            height: $mobile-timer-height;
        }
    }

    .has-timer > .column.is-timer .columns {
        height: 100%;
    }

    .has-timer > .column.is-timer::before {
        width: $content-margin;
        content: "";
        position: absolute;
        top: 0;
        background-color: $timer-bg;
        height: 100%;
        left: calc(-1 * #{$content-margin});

        @include mobile {
            width: $mobile-content-margin;
            left: calc(-1 * #{$mobile-content-margin});
        }
    }

    .has-timer > .column.is-timer::after {
        width: $content-margin;
        content: "";
        position: absolute;
        top: 0;
        background-color: $timer-bg;
        height: 100%;
        right: calc(-1 * #{$content-margin});

        @include mobile {
            width: $mobile-content-margin;
            right: calc(-1 * #{$mobile-content-margin});
        }
    }

    .is-timer {
        width: 100%;

        .level-item {
            margin: 0;

        }

        .level-item * {
            font-family: Lato, sans-serif;
            font-weight: 300;
        }

        .timer-label {
            font-family: "Cormorant Garamond";
            font-style: italic;
            text-align: center;
            line-height: 1.2;

            @include tablet {
                margin-right: 38px !important;
            }

            @include mobile {
                margin-top: 10px !important;
                margin-bottom: 5px !important;
            }
        }

        .digits, .title {
            font-weight: 300;
        }

        .digits {
            font-size: 60px;

            @include mobile {
                font-size: 40px;
            }
        }

        .title {
            font-size: 15px;

            @include mobile {
                font-size: 11px;
            }
        }
    }

    .is-timer .level-item + .level-item {
        border-left: 1px solid $white;
        padding-left: 0.75rem;
    }
}

.valign-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-background {
    * {
        color: $white;
    }
}

.light-background {
    * {
        color: $black;
    }
}

.red-background {
    background-color: $red !important;

    * {
        color: $black;
    }
}

.blue-background {
    background-color: $blue !important;

    * {
        color: $white;
    }
}

.title {
    font-family: Lato, sans-sarif;
}

.btn {
    @extend .red-background;

    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}

