.section-1 {
    $title-margin: 40px;
    $margin: 30px;

    margin-bottom: $timer-height;

    @include tablet {
        // min-height: calc(100vh - #{$timer-height});
    }
    
    @include mobile {
        // min-height: calc(100vh - (#{$timer-height} - 30px) );
        // min-height: 100vh;
        &::after{
            background-color: $blue !important;
            content: "";
            height: 30px;
            width: 100%;
            position: absolute;
            bottom:-30px;
            left: 0;
        }
    }


    .is-timer {
        position: absolute !important;
        bottom: -$timer-height;
        left: 0;
        width: 100%;
        
        @include mobile {
            bottom: -$timer-height - 30px;
        }
    }

    h2.title {
        margin-top: $title-margin !important;
    }

    .video-container {
        margin: $margin auto !important;
    }

    .btn {
        margin-top: 20px;
        
        @include tablet {
            line-height: 24px;
            font-size: 18px !important;
            min-width: 265px !important;
        }
    }

}
