#section-1 {
    $title-margin: 40px;
    $margin: 30px;
    
    $mobile__title-margin: $title-margin;
    $mobile__margin: $margin;

    h2.title {
        margin-top: $title-margin;
        @include mobile {
            margin-top: $mobile__title-margin;
        }
    }
    .video-container {
        margin-top: $margin;
        margin-bottom: $margin;
        
        @include mobile {
            margin-top: $mobile__margin;
            margin-bottom: $mobile__margin;
        }
    }

    button.btn {
        margin-bottom: $margin;
        height: $button-height;
        width: $button-width;
        border-radius: $button-radius;
        
        @include mobile{
            margin-bottom: $mobile__margin;
            height: $mobile__button-height;
            width: $mobile__button-width;
            border-radius: $mobile__button-radius;
        }
    }

    .is-timer {
        .level-item {
            margin: 0;

            + .level-item {
                border-left: 1px solid white;
            }
        }
        .timer-label {
            font-family: 'Cormorant Garamond';
            font-style: italic;
            
            @include tablet {
                margin-right: 38px;
            }

            @include mobile {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }

        .digits, .title {
            font-family: 'Lato-Light';
            font-weight: 100;
        }

        .digits {
            font-size: 60px;       
            
            @include mobile {
                font-size: 40px;
            }     
        }

        .title {
            font-size: 15px;
            
            @include mobile {
                font-size: 11px;
            }     
        }
    }

}