.section-8 {
    background-color: $light-blue;
    text-align: center;

    @include mobile {
        padding: $mobile-spacing 5% !important;
    }

    padding-bottom: 0 !important;

    img {
        @include tablet {
            width: 733px;
        }

        @include mobile {
            width: 528px;
        }
    }
}
