.section-18 {
    background-color: $light-grey;

    h3 {
        font-family: lato-medium !important;
    }

    p {
        line-height: 1.2;
    }

    strong {
        font-weight: 900;
        font-family: lato-black;
    }
}