#section-11 {
    @include tablet {
        padding: $spacing 0;
        background: url("assets/img/section-11/desktop.png") top / cover;

        @include image-2x {
            background: url("assets/img/section-11/desktop@2x.png") top / cover;
        }
    }

    @include mobile {
        position: relative;
        background: url("assets/img/section-11/mobile.png") top / 100% no-repeat;

        @include image-2x {
            background: url("assets/img/section-11/mobile@2x.png") top / 100% no-repeat;
        }
    }

    @include mobile {
        >div:first-child {
            padding: $mobile-spacing 0;
            background-color: rgba($off-white, 0.9);
        }
    }

    strong {
        font-weight: 900;
    }

    .first-block {
        @include tablet {
            margin-left: 200px;
        }
    }

    .second-block {
        @include tablet {
            margin-left: 400px;
        }
    }
    
    .third-block {
        @include tablet {
            margin-left: 100px;
        }
    }
}
