.section-7 {
    h1 {
        color: $blue;
    }

    strong {
        font-weight: 900;
    }

    p strong {
        font-weight: 800;
    }

    ul {
        text-align: left;
        margin: 0 15%;

        li + li {
            margin-top: 1em;
        }
    }
}
