#section-3 {
    .title {
        color: $white;
    }

    @include tablet {
        background: url("assets/img/section-3/desktop.png") center / cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-device-pixel-ratio: 1.5) {
            background: url("assets/img/section-3/desktop@2x.png") center / cover;
        }

        padding: 138px 0 0 244px;

        .content {
            width: 423px;
        }
    }

    @include mobile {
        background: url("assets/img/section-3/mobile.png") center / cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-device-pixel-ratio: 1.5) {
            background: url("assets/img/section-3/mobile@2x.png") center / cover;
        }

        .content {
            background-color: $blue;
            opacity: 0.85;
            padding: 50px 15%;
        }
    }
}
