#section-2 {
    padding-top: 80px;
    font-family: 'Lato';
    
    @include mobile {
        padding-top: 40px;
    }

    strong {
        font-weight: 900;
    }

    .title {
        color: $blue;
        
        * {
            color: $blue;
        }
    }
}