.section-3 {
    .title {
        color: $white;
    }

    @include tablet {
        background: url("assets/img/section-3/desktop.png") $blue center / cover;

        @include image-2x {
            background: url("assets/img/section-3/desktop@2x.png") $blue center / cover;
        }

        padding: 138px 0 138px 244px;

        .content {
            width: 423px;
        }
    }

    @include mobile {
        background: url("assets/img/section-3/mobile.png") $blue center / cover;

        @include image-2x {
            background: url("assets/img/section-3/mobile@2x.png") $blue center / cover;
        }

        .content {
            background-color: $blue;
            opacity: 0.85;
            padding: 50px 15%;
        }
    }
}
