#section-10, #section-12, #section-13 {
    padding: $spacing 0;

    @include mobile {
        padding: $mobile-spacing 0;
    }

    >.columns + .columns {
        @include tablet {
            margin-top: $spacing;
        }
    }

    h3 strong, p strong {
        font-weight: 900;
    }

    img {
        @include tablet {
            width: 180px;
        }
    }
}
