#section-2 {
    $padding: 80px;

    padding-top: $padding;
    padding-bottom: $padding;
    
    @include mobile {
        padding-top: $padding / 2;
        padding-bottom: $padding / 2;
    }

    strong {
        font-weight: 900;
    }

    .title {
        color: $blue;
        
        * {
            color: $blue;
        }
    }
}