.section-5 {
    $white-overlay: #f2f3f7;

    @include tablet {
        background: $white-overlay url("assets/img/section-5/desktop.png") center / cover;

        @include image-2x {
            background: $white-overlay url("assets/img/section-5/desktop@2x.png") center / cover;
        }
    }

    @include mobile {
        position: relative;
        background: url("assets/img/section-5/mobile.jpg") center / 100% 100% no-repeat;

        @include image-2x {
            background: url("assets/img/section-5/mobile@2x.jpg") center / 100% 100% no-repeat;
        }

        >div:first-child {
            opacity: 0.9;
            background-color: $off-white;
        }
    }

    .title {
        color: $blue;
    }

    .last-title {
        margin-top: 2em !important;
    }

    ul:first-of-type li + li {
        margin-top: 1em !important;
    }
}
