.section-19 {
    h1, h2 {
        font-family: lato-black, roboto-black, sans-serif;
        line-height: 1.1;
    }

    h1 {
        margin-bottom: 90px;
    }

    h2 {
        margin-bottom: 60px;
    }

    li {
        padding-left: 10px;
    }

    .last-title {
        margin-top: 90px;

        strong {
            color: $blue !important;
        }
    }

    .first-block {
        h1 {
            margin-bottom: 40px !important;
        }

        p {
            font-size: 22px !important;
        }
    }
}