#section-10,
#section-12,
#section-13,
#section-14,
#section-14-b,
#section-15,
#section-15-b,
#section-16,
#section-17 {
    padding: $spacing 0;

    @include mobile {
        padding: $mobile-spacing 0;
    }

    >.columns + .columns {
        @include tablet {
            margin-top: $spacing;
        }
    }

    h1 strong, h3 strong, p strong {
        font-weight: 900;
    }

    #section-10 img {
        @include tablet {
            width: 180px;
        }
    }
}
