#section-12 {
    @include tablet {
        background: url("assets/img/section-12/bg.png") $blue center / cover;

        @include image-2x {
            background: url("assets/img/section-12/bg@2x.png") $blue center / cover;
        }
    }

    @include mobile {
        background: url("assets/img/section-12/bg.png") $blue center / cover;

        @include image-2x {
            background: url("assets/img/section-12/bg@2x.png") $blue center / cover;
        }
    }

    >div:first-child {
        position: relative;
        background-color: rgba($blue, 0.8);

        @include tablet {
            &::before, &::after {
                content: "";
                background-color: inherit;
                left: 0;
                height: $spacing;
                width: 100%;
                position: absolute;
            }
        }

        @include mobile {
            &::before, &::after {
                content: "";
                background-color: inherit;
                left: 0;
                height: $mobile-spacing;
                width: 100%;
                position: absolute;
            }
        }

        @include tablet {
            &::before {
                top: -$spacing;
            }

            &::after {
                bottom: -$spacing;
            }
        }

        @include mobile {
            &::before {
                top: -$mobile-spacing;
            }

            &::after {
                bottom: -$mobile-spacing;
            }
        }
    }
}
